* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 5rem;
  }
}

/* ========= Category ========= */
.section {
  padding: 5rem 0;
}



/* Navigation styles */
nav-one.mobile,
nav-two.mobile {
  display: none;
}

.search-mobile-div-input {
  display: none;
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
}

nav-one ul {
  display: flex;
  justify-content: center;
  background-color: #333333;
  color: #999999;
  font-size: 0.9rem;
  text-align: center;
}

nav-one li {
  list-style: none;
  padding: 1rem 1.5rem;
}

nav-one ul li a {
  text-decoration: none;
  color: #999999;
}

.cart i {
  font-size: 1.25rem;
  padding-right: .3rem;
}

.cart a {
  position: relative;
  color: #fff;
  cursor: pointer;
  border-radius: 2px;
}

nav-one ul li.cart a span {
  position: absolute;
  text-align: center;
  width: 30px;
  padding: 1px;
  background-color: crimson;
  border-radius: 5px;
  top: -10px;
  margin-left: 5px;
}

nav-one ul > li:hover > a {
  color: #ffffff;
}
nav-two ul > li:hover > a {
  color: #00c8c8;
}

nav-two ul {
  background-color: rgb(245, 245, 245);
  font-size: 1.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav-two ul a {
  text-decoration: none;
  color: #000;
}

nav-two ul li {
  list-style-type: none;
  font-size: .8rem;
  font-weight: 400;
  padding: 1rem 2.5rem;
  transition: 0.2s ease-in-out;
}

nav-two ul li:hover {
  background-color: #eee;
}

.menu-bar {
  color: rgb(34, 34, 34);
  display: none;
}

.fa-search {
  cursor: pointer;
  font-size: 1.2rem;
}

.search {
  font-size: 1rem;
  border: none;
  outline: none;
  width: 180px;
  padding: .5rem;
  border-radius: 5px;
  font-weight: 200;
}

@media only screen and (max-width: 996px) {
  .hamburger.is-active {
    transform: rotate(90deg);
  }

  .hamburger.is-active .line:nth-child(2) {
    transition: none;
  }

  .hamburger .line:nth-child(2) {
    transition-delay: 0.3s;
  }

  .hamburger.is-active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.is-active .line:nth-child(1),
  .hamburger.is-active .line:nth-child(3) {
    width: 25px;
    transform-origin: right;
  }

  .hamburger.is-active .line:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
  }

  .hamburger.is-active .line:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
  }

  .hamburger .line {
    width: 30px;
    height: 4px;
    background-color: #ecf0f1;
    display: block;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  nav-one.desktop {
    display: none;
  }

  nav-two.desktop {
    display: none;
  }

  nav-one.mobile {
    display: block;
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  .fa-search {
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    right: 30px;
  }

  .fa-user {
    font-size: 1.5rem;
  }

  .search-mobile-div-input {
    position: fixed;
    width: 100%;
    top: 70px;
  }

  .active-search {
    display: block;
  }

  .search-mobile-input {
    width: 100%;
    font-size: 20px;
    padding: 5px;
  }

  .hamburger {
    position: absolute;
    display: block;
    color: #979b9b;
    padding: 5px 20px 0 20px;
  }

  nav-two.mobile {
    display: block;
    position: fixed;
    width: 100%;
    transition: 0.5s;
    top: -100%;
    z-index: 1;
  }

  nav-two.open {
    display: block;
    top: 3%;
  }

  nav-two ul {
    flex-direction: column;
    background-color: #3f3e3e;
    padding: 80px;
  }

  nav-two ul li a {
    color: white;
  }
}

/* Navigation styles */


/*Facilty*/

.facility {
  background-color: var(--white);
  padding: 6rem 0;
}

.facility-contianer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.facility-icon {
  text-align: center;
}

.facility-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.facility-icon {
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 1.5px solid var(--white);
  z-index: 1;
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facility-icon::before {
  content: "";
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0.7rem;
  background-color: var(--white);
  z-index: -1;
}

.facility-icon i {
  font-size: 2rem;
  transition: all 500ms ease-in-out;
}

.facility-box:hover i {
  transform: rotateY(180deg);
}


@media only screen and (max-width: 998px) {
  .facility-contianer {
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
  }
}

@media only screen and (max-width: 568px) {
  .facility-contianer {
    grid-template-columns: 1fr;
  }

  .facility-icon {
    width: 7rem;
    height: 7rem;
    line-height: 8.5rem;
  }

  .facility-contianer p {
    font-size: 1.4rem;
  }
}

/*Facilty*/

/* Footer */
.footer {
  background-color: #222;
  padding: 6rem 1rem;
  line-height: 1.5rem;
}


.footer-center span {
  margin-right: 1rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #fff;
  padding: 0 3rem 0 3rem;
}

.footer-center a:link,
.footer-center a:visited {
  display: block;
  color: #959595;
  font-size: .9rem;
  transition: 0.6s;
}

.footer-center a:hover {
  color: #ffffff;
}

.footer-center div {
  color: #959595;
  font-size: .9rem;
}

.footer-center h3 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 998px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    padding: 0;
  }
  .footer .container {
    padding: 0;
    margin: 0 2rem;
  }
}

/* Footer */